@using Eventures.Web.ViewModels.Events;
@model IEnumerable<MyEventsViewModel>;

<main class="mt-5">
    <h1 class="text-center font-weight-bold">My Events</h1>
    <hr class="hr-eventure two-thirds-width bg-eventure" />
    <table class="table two-thirds-width mx-auto">
        <thead>
            <tr>
                <th class="col-lg-1">#</th>
                <th class="col-lg-3">Name</th>
                <th class="col-lg-2">Start</th>
                <th class="col-lg-2">End</th>
                <th class="col-lg-2">Tickets</th>
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < Model.Count(); index++)
            {
                int realIndex = index + 1;
                MyEventsViewModel currentModel = Model.ElementAt(index);
                <tr>
                    <td>@realIndex</td>
                    <td>@currentModel.EventName</td>
                    <td>@currentModel.StartDate.ToString("dd-MMM-yy hh:mm:ss")</td>
                    <td>@currentModel.EndDate.ToString("dd-MMM-yy hh:mm:ss")</td>
                    <td>@currentModel.MyTickets</td>
                </tr>
            }
        </tbody>
    </table>
    <hr class="hr-eventure two-thirds-width bg-eventure" />
</main>