@using Eventures.Web.ViewModels.Accounts;
@model ICollection<EditUserRoleViewModel>

<table class="table two-thirds-width mx-auto">
    <thead>
        <tr>
            <th class="col-lg-1">#</th>
            <th class="col-lg-3">Name</th>
            <th class="col-lg-2">Role</th>
            <th class="col-lg-2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (int index = 0; index < Model.Count(); index++)
        {
            int realIndex = index + 1;
            var currentUser = Model.ElementAt(index);
        <tr>
            <td>@realIndex</td>
            <td>@currentUser.Username</td>
            <td>@currentUser.Role</td>
            <td>
                <a asp-controller="Accounts" asp-action="Promote" asp-route-id="@currentUser.UserId"  class="btn bg-eventure text-black">Promote</a>
                <a asp-controller="Accounts" asp-action="Demote" asp-route-id="@currentUser.UserId" class="btn bg-eventure text-black">Demote</a>
            </td>
        </tr>
        }
    </tbody>
</table>